h2 {
    margin-bottom: 0;
}
.edu {

    width: 100%;
    text-align: center;
    position: relative;
  }
  
  .edu-main {
    position: relative;
    /* background: linear-gradient(
      to top,
      #0F2167 0%,
      #0F2167 50%, 
      #ffffff 55%,
      #ffffff 100%
    ); */
    height: 100%;
    width: 100%;
  }
  
  .edu-head{
    position: relative;
    padding: 35px 0 40px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.989);
  }
  
  .edu-box {
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
    height: 150px;
    width: 150px;
    padding: 80px 80px 100px 80px;
    background: black;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    
  }

  .edu-box:hover {
    box-shadow: 0 8px 16px 0 #3559E0;
  }
  .edu-box svg {
    margin-right: 8px;
  }
  .icon {
    position: relative;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 4px 2px black;
  }
  .edu-name{
    font-style: bold;
    color: red;

  }
  .edu-des1 {
    margin-bottom: 0;
    margin-top: 13px;
  }
  .edu-des {
    color: white;
    text-shadow: 1px 1px 1px rgba(41, 4, 109, 0.067);
  }
  .edu-mark {
    
    font-weight: bold;
  }
