body {
  /* color: #0F2167; */
  color: white;
  font-family: "Poppins",sans-serif;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

/* Home Page*/
/* Home Page*/
/* Home Page*/
/* Home Page*/
/* Home Page*/
/* Home Page*/



/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */
@media screen and (min-width: 1012px) {
  
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}
@media screen and (min-width: 767px){
  
}
@media (max-width: 600px) {
  body{
    width: 100%;
  }
  img, .liquid-shape {
    display: none;
  }
  .home{
    height: 100%;
    width: 100%;
    padding: 0;
    
  }
  .home-des{
    padding: 0 10px 0 10px;
    width: 100%;
  }
  }
